/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  background: #dc3545;
}

::-webkit-scrollbar-thumb {
  background-image: 1inear-gradient(red, yellow);
  border-radius: 25px;
}

 /* ::-webkit-scrollbar-thumb:hovert {
  background-image: linear-gradient (Oree0970, Oeff6a00);
}  */
/*
.scrollable-div {
  background-color: #0b263d;
  height: 80vh;
  overflow: auto;
  margin: 10px;
  text-align: justify;
  padding: 10px;
}

.fade-in {
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
*/